    <!-- Menu Start -->
    <div class="menu">
        <ul class="menu__container">
            <a href="/" class="menu__container--item">
                <li>
                    HOME
                </li>
            </a>
            <a href="/shop" class="menu__container--item">
                <li>
                    SHOP
                </li>
            </a>
            <a href="#" class="menu__container--item">
                <li>
                    ABOUT US
                </li>
            </a>
            <a href="#" class="menu__container--item">
                <li>
                    CONTACT
                </li>
            </a>
        </ul>
    </div>
    <!-- Menu End -->